/* 
@layer base {
    @import 'tailwindcss/base';
  }
  
  @layer components {
    @import 'tailwindcss/components';
  }
  
  @layer utilities {
    @import 'tailwindcss/utilities';
  }
  
  @layer radix_ui {
    @import '@radix-ui/themes/styles.css';
  }
  
  @layer tw_base, radix_ui, tw_components, tw_utilities; */
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  

.footer_FooterLinks {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    margin: -10px 0 0;
}

@media (max-width: 767px) {
    .footer_FooterLinks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2px;
    }
}
@media (min-width: 600px) {
    .footer_FooterLinks {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 16px;
    }
}

@media (max-width: 767px) {
.socialFooters {
    margin-top: 14px;
    order: 2;
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
* {
    -webkit-tap-highlight-color: transparent;
}

/* Costume styles for RadixUI Overwrite */

@media screen and (max-width: 767px) {
    .CommandMenu{
        position: fixed;
        bottom: 0;
        border-radius: 10px 10px 0 0;
    }
}

.ListCard {
    background-color: var(--color-panel);
    border-width: 1px;
    border-color: rgba(153, 163, 175, 0.3);
    border-radius: var(--radius-4);
    overflow: hidden;
}