/* Tailwind CSS Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */
* {
    -webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.overFlow_x {
    overflow-x: hidden;
}

/* Footer Links Styles */
.footer_FooterLinks {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
}

@media (max-width: 767px) {
    .footer_FooterLinks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2px;
    }

    .socialFooters {
        margin-top: 14px;
        order: 2;
        grid-column: span 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 600px) {
    .footer_FooterLinks {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 16px;
    }
}

/* RadixUI Custom Styles */
@media screen and (max-width: 767px) {
    .CommandMenu {
        position: fixed;
        bottom: 0;
        border-radius: 10px 10px 0 0;
    }
}

/* Component Styles */
.ListCard {
    background-color: var(--color-panel);
    border-width: 1px;
    border-color: rgba(153, 163, 175, 0.3);
    border-radius: var(--radius-4);
    overflow: hidden;
}

.HoverBG {
    @apply hover:bg-[var(--gray-a3)] dark:hover:bg-[var(--gray-a5)];
}

.AppBar {
    @apply fixed w-full bottom-0 sm:bottom-1 z-30 max-w-md border-t sm:border border-gray-400/30 sm:rounded-[var(--radius-4)] p-0.5 bg-white dark:bg-black;
}

.AppBarTabList {
    @apply h-full justify-between shadow-none;
}

.LinkText {
    @apply text-[#666] dark:text-[#888] hover:text-black dark:hover:text-white;
}

.Border {
    @apply border border-gray-400/30 rounded-[var(--radius-4)];
}

.SearchButton {
    @apply Border w-full max-w-lg justify-start items-center;
}

.Navbar {
    @apply w-full bottom-0 md:top-0 z-40 justify-center items-center bg-white bg-opacity-70 dark:bg-opacity-70 backdrop-blur-md border-t md:border-b border-gray-400/30 dark:bg-black select-none;
}
.FolderGridCard {
    @apply block flex-row shadow-none Border mx-auto p-[var(--space-4)] w-full;
}

/* Tailwind Utilities */
@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.prose :where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    background-color: transparent;
}

table {
    @apply border border-gray-400/40 rounded-[var(--radius-4)] flex flex-col;
}
thead {
    @apply w-full flex flex-col;
}
tbody {
    @apply w-full flex flex-col;
}
tr,
th,
td {
    @apply  w-full flex justify-around divide-x divide-gray-400/40;
}

.prose img {
    @apply rounded-[var(--radius-4)] mx-auto max-w-full 
}

/* Heading */
.heading-link .heading-anchor {
    visibility: hidden;
}

.heading-link:hover .heading-anchor {
    visibility: visible;
}


/* Code block has issue */

/* code {
    counter-reset: line;
}

code > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
    width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
    width: 3rem;
}

code[data-theme*=' '],
code[data-theme*=' '] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
}

:is(.dark .dark\:bg-black) {
    code[data-theme*=' '],
    code[data-theme*=' '] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
    }
} */