
@layer base {
    @import 'tailwindcss/base';
  }
  
  @layer components {
    @import 'tailwindcss/components';
  }
  
  @layer utilities {
    @import 'tailwindcss/utilities';
  }
  
  @layer radix_ui {
    @import '@radix-ui/themes/styles.css';
  }
  
  @layer tw_base, radix_ui, tw_components, tw_utilities;
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  body,
  html {
    overflow-x: hidden;
    scroll-behavior: auto;
  }
  body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
.footer_FooterLinks {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    margin: -10px 0 0;
}

@media (max-width: 767px) {
    .footer_FooterLinks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2px;
    }
}
@media (min-width: 600px) {
    .footer_FooterLinks {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 16px;
    }
}

@media (max-width: 767px) {
.socialFooters {
    margin-top: 14px;
    order: 2;
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
}

* {
    -webkit-tap-highlight-color: transparent;
}

/* Costume styles for RadixUI Overwrite */

@media screen and (max-width: 767px) {
    .CommandMenu{
        position: fixed;
        bottom: 0;
        border-radius: 10px 10px 0 0;
    }
}

.ListCard {
    background-color: var(--color-panel);
    border-width: 1px;
    border-color: rgba(153, 163, 175, 0.3);
    border-radius: var(--radius-4);
    overflow: hidden;
}

.HoverBG {
    @apply hover:bg-[var(--gray-a3)] dark:hover:bg-[var(--gray-a5)];
  }
  
.AppBar {
    @apply fixed items-center justify-center mx-auto bottom-3 md:bottom-1 z-30 w-full px-1 max-w-sm overflow-hidden;
}
.AppBarTabList {
    @apply w-full h-full max-w-sm justify-center items-center border border-gray-400/30 rounded-[var(--radius-4)] bg-white dark:bg-black overflow-x-auto;
}


.LinkText {
    @apply text-[#666] dark:text-[#888] hover:text-black dark:hover:text-white;
}

.Border {
  @apply border border-gray-400/30 rounded-[var(--radius-4)];
}



@layer utilities {
    /* Hiding the arrows in the input number */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }